[2021-09-24 09:09] tianleh opened #1 "move Monterey test cases repos in"
https://github.com/tianleh/monterey-test

[2021-09-27 17:29] tianleh opened #3 "Integrate with OpenSearch Build/CI process. Test run could be triggered and ran by CI"

[2021-09-30 17:21] peternied opened #6 "Ensure DCO Workflow Check"
Coming from https://github.com/opensearch-project/project-meta/issues/17

A Developer Certificate of Origin is required on commits in the OpenSearch-Project.

See [doc.yml](https://github.com/opensearch-project/.github/blob/main/workflow/dco.yml) for an example workflow.  Ensure CONTRIBUTING.md to has a section on the DCO per the [project template](https://github.com/opensearch-project/.github/blo

[2021-10-02 02:35] seraphjiang commented on #1
is it completed?

[2021-10-02 02:36] seraphjiang commented on #3
could this task break down to small ones

[2021-10-15 23:11] kavilla opened #7 "Delete .DS_Store script"
We should add this to .gitignore file:

https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/.DS_Store

and remove from github.

[2021-10-18 01:39] tianleh opened #8 "Add support to run tests against specific endpoint"
Current repo is only running against localhost:5601. Extend this so that it can run against an input endpoint

[2021-10-18 01:52] tianleh opened #9 "Add test cases for parity with manual sanity test"
Current sanity test is a manual process which contains a few steps. To reduce this effort, we want to write test cases to automate these. It involves the following sub issues:

1) https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/13
2) https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/12
3) https://github.com/opensearch-project/open

[2021-10-18 01:53] tianleh opened #10 "Add test cases for "Dashboards""

[2021-10-18 01:53] tianleh opened #11 "Add test cases for "Visulization""

[2021-10-18 01:53] tianleh opened #12 "Add test cases for "Discovery""

[2021-10-18 01:55] tianleh opened #13 "Add sample data “Sample eCommerce orders”"

[2021-10-25 15:29] elfisher opened #14 "[BUG] Add repo description"
Coming from opensearch-project/opensearch-plugins#92.

Each plugin has a short descriptive text blurb that says what it does: this appears in plugin-descriptor.properties (OpenSearch plugins) or package.json (OpenSearch Dashboards plugins), as well as on the project website's "source" page and in the "About" section of every repo. These were created one-by-one over the years as plugins were create

[2021-11-08 18:52] tianleh commented on #1
Completed

[2021-11-08 18:52] #1 closed

[2021-11-08 19:49] Tengda-He commented on #6
finished

[2021-11-08 19:49] #6 closed

[2021-11-08 20:07] seraphjiang opened #16 "Run test in any local dev machine(Mac, Windows, Linux)"

[2021-11-08 20:07] seraphjiang opened #17 "Run test in docker"

[2021-11-08 20:07] seraphjiang opened #18 "Add developer guideline"

[2021-11-08 20:07] seraphjiang opened #19 "Be able to generate test report (Junit preferred)"

[2021-11-08 20:08] seraphjiang opened #20 "Add RFC for initial design"

[2021-11-08 20:08] seraphjiang opened #21 "Be able to record video and upload as test artifacts"

[2021-11-08 20:08] seraphjiang opened #22 "Define process to release and publish test-library to npm repository"

[2021-11-09 04:22] tianleh commented on #14
updated.

[2021-11-09 04:22] #14 closed

[2021-11-09 23:59] tianleh commented on #3
Task is being tracked inside infra's build repo https://github.com/opensearch-project/opensearch-build/issues/604

[2021-11-10 00:45] Tengda-He commented on #7
issue resolved

[2021-11-10 00:45] #7 closed

[2021-11-16 21:07] tianleh opened #28 "Add runbook for npm publish in test library"

[2021-11-16 21:11] tianleh opened #29 "Research the support for directly importing Github repo instead of npm registry"

[2021-11-16 21:16] tianleh opened #30 "Automate POM (Page Object Model) generation"

[2021-11-23 23:38] tianleh opened #37 "Ensure plugin test cases clean up data added by their test"

[2021-11-23 23:38] Tengda-He commented on #29
finished

[2021-11-23 23:38] #29 closed

[2021-11-23 23:39] tianleh commented on #37
For now, just check during PR review.

[2021-11-23 23:43] #8 closed

[2021-11-23 23:46] tianleh opened #38 "onboard AD plugin"

[2021-11-24 19:47] joshuali925 commented on #19
question, why is it JUnit preferred?

Reporting might need to do it in frontend testing, since the reports are currently generated by dashboards server

[2021-11-24 20:05] seraphjiang commented on #19
20k existing dashborards unit test, integration tests, functional tests use junit as output for test result. we want to leverage that.

btw, test report here focus on test run, how test be group, and test pass/fail result.

[2021-11-24 20:20] anirudha commented on #19
what is the purpose of test report ?

[2021-11-24 20:42] seraphjiang commented on #19
organize, group the tests, summarize tests result. this is also way to know functional coverage(not code coverage)

e.g. dashboards tests could split to by functional + ownership combination

* Dashboards
* Discover App
* Visualization
* Navigation
* Reporting
* Security
* Stack Management

[2021-11-30 02:32] tianleh opened #39 "Add "-v" support to integ test shell"

[2021-11-30 02:32] tianleh commented on #39
Needed by https://github.com/opensearch-project/opensearch-build/issues/604

[2021-11-30 02:55] #39 closed

[2021-11-30 23:04] tianleh opened #43 "Ensure Github action check time once more tests are added"

[2021-11-30 23:05] tianleh opened #44 "Modify Cypress version to match infra Docker image"

[2021-12-01 19:02] tianleh opened #45 "[RFC] Add release version support"
**Is your feature request related to a problem? Please describe.**
As more Dashboards plugin teams onboard release tests on this repo, we notice that there could be some test case changes caused by the UI functional changes between versions. E.g `1.3.0` may add a new page and thus related tests which do not apply at all in `1.2.0`. Currently this repo only has a single `main` branch to capture the

[2021-12-02 08:28] tianleh opened #47 "Remove "npx" to run cypress directly"

[2021-12-02 08:28] tianleh commented on #44
check if Cypress `5.6.0` is working

[2021-12-02 19:29] Tengda-He commented on #44
attached test pass video.
https://user-images.githubusercontent.com/89666799/144489827-e7ef2633-b3cb-4728-8f74-5387bb18b149.mp4

[2021-12-02 19:30] tianleh commented on #47
Following the Cypress doc
https://docs.cypress.io/guides/guides/command-line#How-to-run-commands

Tried both

[code]

They all work. Thus `npx` is not a hard requirement. But if `npx` comes for free with `npm`, then we'd like keeping the current command with `npx`.

[2021-12-02 19:30] tianleh commented on #47
@peterzhuamazon @Tengda-He @seraphjiang

[2021-12-02 19:43] Tengda-He commented on #47
why do we want to remove "npx" at the beginning ?

[2021-12-02 19:48] tianleh commented on #47
Peter wants to see the possibility to remove the library npx so that the Docker image is simplified.

[2021-12-05 04:33] tianleh opened #49 "Move test results into a single root dir"

[2021-12-05 04:34] tianleh commented on #49
currently

[code]

We want to move all under `cypress/results`

[2021-12-05 04:35] tianleh commented on #49
This can make it easy to copy the results during https://github.com/opensearch-project/opensearch-build/issues/604

[2021-12-05 05:50] #49 closed

[2021-12-05 06:51] tianleh opened #52 "[BUG] sanity tests are failing for visualize and discover"
**What is the bug?**
A clear and concise description of the bug.

[code]
**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What is the expected behavior?**
A clear and concise description of what you expected to happen.

**What is your host/environment?**
 - OS: [e.g. iOS]
 - Version [e.g. 22]
 - Plugins

[2021-12-05 06:52] tianleh commented on #52
https://user-images.githubusercontent.com/60111637/144736805-ba5bd0b6-32d6-4601-807a-ad512d26efe5.mp4

[2021-12-05 06:52] tianleh commented on #52
Suspicious commit
https://github.com/opensearch-project/opensearch-dashboards-functional-test/commit/d8e15f6397a3a8e0203fe97e230ae63545f1a206

[2021-12-06 19:08] tianleh opened #53 "Run the test cases under ARM"

[2021-12-06 19:09] tianleh opened #54 "Disable workflow to run from source code"

[2021-12-06 19:09] tianleh opened #55 "Update workflow to use newer artifacts, 1.2.0"

[2021-12-06 19:10] tianleh commented on #53
@peterzhuamazon Peter is running such under ARM

Add @seraphjiang for visibility

[2021-12-06 22:30] tianleh commented on #52
Verified from infra side that the tests are successful. Thanks for the fix.

[2021-12-06 22:30] #52 closed

[2021-12-07 23:33] tianleh commented on #55
For now, maintain only the latest one.

[2021-12-07 23:34] tianleh commented on #54
check the possibility to disable instead of deletion.

[2021-12-07 23:35] tianleh commented on #53
I have set up a ARM docker env and run OS and OSD artifacts. Then run functional test successfully.

Cypress 5.6.0 is working in ARM.

[2021-12-07 23:35] #53 closed

[2021-12-07 23:37] tianleh commented on #49
Change reverted. no longer needed to simplify work for plugin teams.

[2021-12-07 23:38] tianleh commented on #45
For now, we will only track latest version in `main` branch, no version specific branch.

[2021-12-07 23:40] tianleh opened #58 "reuse test cases without security into with security"

[2021-12-07 23:46] tianleh opened #59 "write runbook for Dashboards plugin team to onboard"

[2021-12-07 23:46] Tengda-He commented on #12
finished

[2021-12-07 23:46] #12 closed

[2021-12-07 23:46] Tengda-He commented on #11
finished

[2021-12-07 23:46] #11 closed

[2021-12-07 23:46] Tengda-He commented on #13
finished

[2021-12-07 23:46] #13 closed

[2021-12-07 23:47] Tengda-He commented on #10
finished

[2021-12-07 23:47] #10 closed

[2021-12-07 23:47] Tengda-He commented on #9
finished

[2021-12-07 23:47] #9 closed

[2021-12-08 05:47] Tengda-He commented on #58
Finished

[2021-12-08 05:47] #58 closed

[2021-12-09 06:54] tianleh opened #60 "Ensure plugin folder name matches infra YML"

[2021-12-09 06:54] tianleh commented on #60
https://github.com/opensearch-project/opensearch-build/blob/main/manifests/1.2.0/opensearch-dashboards-1.2.0.yml

[2021-12-09 06:55] tianleh commented on #60
keep the consistency for ease of parsing/reporting.

[2021-12-14 06:48] tianleh commented on #44
After Tengda's change, I verified that it can work inside infra.

[2021-12-14 06:48] #44 closed

[2021-12-14 22:42] #55 closed

[2021-12-14 23:44] tianleh opened #62 "Add prettier as dependency"

[2021-12-15 22:11] ohltyler opened #63 "Change strategy for toggling security"
Currently the strategy for testing security enabled or disabled is to have different specs under `with-security` and `without-security` dirs for each component, where `with-security` is essentially the same spec, but has an added first step which involves logging in to the cluster from the login page, using username/password env vars.

A simpler soln can be overriding the `cy.visit()` cmd to pass

[2021-12-15 22:12] ohltyler commented on #63
After discussion with @Tengda-He  and @tianleh I will be going forward with the solution as part of a PoC PR for onboarding anomaly detection plugin tests into this repo.

[2021-12-16 02:02] tianleh opened #65 "[FEATURE] call AD test cases inside this repo from AD's CI process"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is, e.g. _I'm always frustrated when [...]_

**What solution would you like?**
A clear and concise description of what you want to happen.

**What alternatives have you considered?**
A clear and concise description of any alternative solutions or features you've considered.

**Do you have any addi

[2021-12-16 20:18] tianleh opened #66 "[FEATURE] support dynamitcally disabling security features for bundle artifact"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is, e.g. _I'm always frustrated when [...]_

**What solution would you like?**
A clear and concise description of what you want to happen.

**What alternatives have you considered?**
A clear and concise description of any alternative solutions or features you've considered.

**Do you have any addi

[2021-12-16 20:18] tianleh commented on #66
Currently after the bundle artifact is downloaded, it has security by default. We need a mechanism to disable it.

[2021-12-16 20:20] tianleh commented on #66
See this reference https://github.com/opensearch-project/opensearch-build/blob/50552294f6830d7412d66831798fe15acf89e43d/src/test_workflow/integ_test/service_opensearch_dashboards.py#L53

[2021-12-16 20:21] tianleh commented on #66
OpenSearch reference https://github.com/opensearch-project/opensearch-build/blob/main/src/test_workflow/integ_test/service_opensearch.py#L37

[2021-12-16 22:09] tianleh opened #67 "Verify AD onboarding https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/64 from infra"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is, e.g. _I'm always frustrated when [...]_

**What solution would you like?**
A clear and concise description of what you want to happen.

**What alternatives have you considered?**
A clear and concise description of any alternative solutions or features you've considered.

**Do you have any addi

[2021-12-17 00:10] #38 closed

[2021-12-17 00:10] #63 closed

[2021-12-17 00:29] ohltyler commented on #65
Tracking in AD via https://github.com/opensearch-project/anomaly-detection-dashboards-plugin/issues/162

[2021-12-17 06:41] tianleh commented on #67
with security result:

[code]

[2021-12-17 06:43] tianleh commented on #67
with security disabled

[code]

[2021-12-17 06:53] tianleh commented on #67
I am able to successfully run the latest test cases inside this repo from infra's CLI. https://github.com/opensearch-project/opensearch-build/blob/main/test.sh#L14

The detailed test results are above.

I noticed that only the video for plugin is persisted.

[2021-12-17 06:53] tianleh commented on #67
<img width="576" alt="Screen Shot 2021-12-16 at 10 52 31 PM" src="https://user-images.githubusercontent.com/60111637/146502125-3fc484d5-63f6-47a9-ba1d-a75bc4c9a20d.png">

[2021-12-17 06:56] tianleh opened #68 "have only one Cypress command inside integtest.sh"
have only one Cypress command inside integtest.sh

[2021-12-17 06:56] tianleh commented on #67
I think the reason is https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/integtest.sh#L90 whichever runs later will override the video.

Thus we have two options to solve this.
1) move the common test outside of integration folder so that we just need one Cypress execution command.
2) use some regular expression to only run Cypress once.

Create an issue to track

[2021-12-17 06:56] #67 closed

[2021-12-17 06:59] tianleh commented on #68
https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/integtest.sh

[2021-12-17 17:29] tianleh commented on #67
@ohltyler

[2021-12-21 18:16] ohltyler commented on #65
@tianleh @Tengda-He this is addressed in https://github.com/opensearch-project/anomaly-detection-dashboards-plugin/pull/163

Please have a look when you get a chance

[2021-12-21 18:31] tianleh commented on #65
@seraphjiang cc for visibility

[2021-12-22 00:12] ohltyler commented on #65
Resolved in https://github.com/opensearch-project/anomaly-detection-dashboards-plugin/pull/163

[2021-12-22 00:12] #65 closed

[2021-12-22 19:58] #68 closed

[2021-12-23 00:13] #62 closed

[2021-12-23 01:26] tianleh opened #71 "Verify https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/70 from infra's repo"

[2021-12-23 01:28] tianleh commented on #71
Need to verify that both plugin and dashboards videos have been uploaded.

[2021-12-23 01:28] tianleh commented on #71
<img width="515" alt="Screen Shot 2021-12-22 at 5 28 12 PM" src="https://user-images.githubusercontent.com/60111637/147173831-94ee5400-d8dd-4423-8341-db75c071bd6b.png">

[2021-12-23 01:30] tianleh commented on #71
@ohltyler The videos look good. Thanks for the quick change.

[2021-12-23 01:31] #71 closed

[2022-01-04 03:25] tianleh opened #72 "[Main] onboard Dashboards plugins to functional test repo"
This issue is to track the overall progress of onboarding Dashboards plugins to the functional test repo. This is the [onboarding instruction](https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/CONTRIBUTING.md#onboarding)

- [x] https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/79
- [x] https://github.com/opensearch-project/opense

[2022-01-04 03:43] tianleh opened #73 "index-management-dashboards-plugin"
See the main tracking issue for instructions https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/72

[2022-01-04 03:43] tianleh opened #74 "dashboards-observability"
See the main tracking issue for instructions https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/72

[2022-01-04 03:43] tianleh opened #75 "alerting-dashboards-plugin"
See the main tracking issue for instructions https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/72

[2022-01-04 03:43] tianleh opened #76 "security-dashboards-plugin"
See the main tracking issue for instructions https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/72

[2022-01-04 03:44] tianleh opened #77 "dashboards-visualizations"
See the main tracking issue for instructions https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/72

[2022-01-04 03:44] tianleh opened #78 "dashboards-reports"
See the main tracking issue for instructions https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/72

[2022-01-04 03:46] tianleh opened #79 "anomaly-detection-dashboards-plugin"

[2022-01-04 03:48] tianleh commented on #79
Already done

[2022-01-04 03:48] #79 closed

[2022-01-11 09:30] #59 closed

[2022-01-13 02:24] tianleh opened #81 "upgrade Cypress to a newer 6.x version"

[2022-01-13 02:24] tianleh commented on #81
@joshuali925

[2022-01-13 21:40] joshuali925 opened #82 "query-workbench-dashboards"
support query workbench cypress tests, see #72

[2022-01-15 01:45] tianleh commented on #81
@peterzhuamazon After talking with Josh, seems it is feasible to use a 6.x Cypress for arm64

[2022-01-18 22:52] tianleh opened #84 "[FEATURE] Support phased release of Dashboards plugins"
**Is your feature request related to a problem?**
Currently the functional tests are executed as a whole https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/integtest.sh#L89 However, Dashboards plugin releases could be phased and may not even release at all sometimes. Thus we may need a way to support this phased release of Dashboards plugins.

**What solution wou

[2022-01-18 22:52] tianleh commented on #84
Thanks @kavilla for bringing this up.

[2022-01-18 22:53] tianleh commented on #84
We could potentially have a well structured reports to indicate component level situation. Open for more ideas.

[2022-01-18 23:26] #54 closed

[2022-01-18 23:29] kavilla commented on #84
Makes sense I know every distribution will get published with a `manifest` that indicates which components are in it. It could be a simple as the `integtest.sh` script opening that file and reading which components are there and executing the directories for the plugins that exist.

[2022-01-18 23:29] #77 closed

[2022-01-18 23:53] Tengda-He opened #86 "[FEATURE] create label to filter tests in suite to execute"
**Is your feature request related to a problem?**
Add function to allow creating label to filter some tests in suite to execute.

[2022-01-20 01:31] peterzhuamazon commented on #81
Until AD fix issues with Cypress 6 we still need to use 5.6.
And since dashboards is on the process of upgrading node version.
I do not see a point to try out 6 at this moment.
We can straight go to 7+ once node version upgrade is complete.

Thanks.

[2022-01-20 05:57] seraphjiang commented on #81
one strong reason we should push to separate test host and test client environment.

Functional test should only depends on its own runtime, browser, network

[2022-01-25 02:14] tianleh opened #87 "[FEATURE] enhance Github actions to include testing from infra's side"
**Is your feature request related to a problem?**
There is a Github action which can execute test cases from infra. See item 7 from https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/CONTRIBUTING.md#onboarding

**What solution would you like?**

**What alternatives have you considered?**

**Do you have any additional context?**

[2022-01-25 19:35] tianleh commented on #81
Since we decouple the test repo and the test client repo, we are now able to manage Cypress versions without worrying about the Node version used by OSD.

@ohltyler Peter mentioned that AD tests have some dependency on 5.6.0 For the release tests moved here, is this still a dependency? If not, we can start upgrading Cypress in the FT repo. cc @peterzhuamazon @seraphjiang

[2022-01-25 22:50] tianleh opened #88 "Support test coverage"

[2022-01-25 23:08] tianleh commented on #88
@leeyun-amzn

CC @seraphjiang

[2022-01-26 00:20] joshuali925 commented on #88
This would be helpful. Linking the issue in dashboards repo https://github.com/opensearch-project/OpenSearch-Dashboards/issues/975 (or you can close that one if it will be tracked here)

[2022-02-05 07:28] tianleh commented on #81
@ohltyler Please share your input.

[2022-02-07 16:43] ohltyler commented on #81
@tianleh I'm ok to upgrade Cypress to 6.x - I believe there is some breaking changes that cause some AD tests to fail when upgrading, which is why Peter had to run the separate older version for our plugin. But I can prioritize fixing those during/after an upgrade to 6.x, no problem.

[2022-02-07 18:10] ohltyler commented on #47
From my understanding npx is just used for downloading & caching packages on-the-fly to run them. Since cypress is already a hard dependency and explicitly stored in the codebase, I believe we can remove npx altogether.

For where it's used in github actions ([example](https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/.github/workflows/cypress-workflow-plugins-b

[2022-02-07 18:11] ohltyler commented on #47
cc @tianleh @peterzhuamazon  ^^

[2022-02-07 19:08] peterzhuamazon commented on #47
You can simply cypress run, but for some custom runs in observability plugin and others you can `yarn cypress:test` or `npx cypress:test` to run specific configured test.

I dont necessarily think we need to completely remove it, just let developers decide what to use in integTest.sh.

[2022-02-07 19:16] ohltyler commented on #47
Sure, I'm just referring to this repo specifically, and the tests that plugin teams migrate over to it. In which case we don't need to use `npx` since cypress is already installed and configured.

I'm not sure what reasons teams would be using npx for specifically, are you aware at all? Do they not want to store cypress as a dependency locally when developing?

[2022-02-07 19:28] peterzhuamazon commented on #47
Observability for example, has TZ information to set before the cypress run happens, and it is using yarn/npx to do so by defining a test in package.json:
https://github.com/opensearch-project/observability/blob/main/dashboards-observability/package.json#L10-L11

If you dont need such thing, feel free to run cypress run directly. I would recommend to use yarn over npx, as we have yarn by default,

[2022-02-07 19:29] peterzhuamazon commented on #81
You can even aim for cypress 8+ since node is going to be upgraded to 14.

[2022-02-07 19:40] ohltyler commented on #47
Understood - agreed about using yarn over npx, since there shouldn't be any need to cache / download dependencies on the fly. In fact the workflows for this repo are already using yarn to trigger the cypress tests, and I just opened #89 which adds more custom commands, including adding TZ information before running the tests

[2022-02-09 15:07] Flyingliuhub opened #90 "[BUG] Filter disabled: goal and guages test is not stable"
**What is the bug?**
I'm running this test and target 1.2 OpenSearchDashboard, and failed with "Expected to find content: '/^7,544$/' within the element"

The following test failed which looking for the value 7,544, but our page is 7565, and this bug comment showing below, can we make this test stable, what kind of situation about "sometimes", and how we fixes the "sometimes" situation. Thanks

[2022-02-09 20:27] tianleh commented on #90
We can skip it for now https://www.tabnine.com/code/javascript/functions/jest/It/skip

[2022-02-09 23:19] #90 closed

[2022-02-10 00:46] ohltyler opened #93 "[FEATURE] Support typescript"
Typescript comes with many advantages:
- type safety
- ease of developing in an IDE (type safety warnings, auto-fill, etc)
- using enums

It would be nice to have this repo support typescript to help get the advantages as listed above, and being able to write safer and cleaner tests, as well as speeding up development in writing the tests themselves.

[2022-02-17 19:50] tianleh commented on #45
@ohltyler Feel free to share expectations from Dashboards plugin team's perspective.

[2022-02-17 22:13] ohltyler commented on #45
As a plugin owner, I would expect to be able to run a version of my plugin, and run the corresponding tests for the plugin that are compatible with that specific version.

I think following the same versioning and release strategy as the rest of the OpenSearch core and plugins would be a good solution for this.

[2022-02-28 22:10] anirudha commented on #72
is there a doc or link that explains the motivation and goal on this issue ? , thanks

[2022-02-28 22:12] anirudha commented on #72
how do we define " release tests"
as per

should all cypress tests be called release tests ?

[2022-02-28 22:15] davidcui1225 commented on #72
For long-term code maintenance does this mean that we will be maintaining cypress tests both in the `opensearch-dashboards-functional-test` repo and our plugin repo? How come the tests exist in 2 different places?

[2022-03-02 16:52] DarshitChanpura commented on #76
@tianleh Should this issue be closed?

[2022-03-02 17:15] davidlago commented on #76
I believe so. Closing as the only PR needed for this work has merged.

[2022-03-02 17:15] #76 closed

[2022-03-03 01:17] tianleh commented on #45
Please help review this RFC @dblock @zengyan-amazon @sichend @seraphjiang @kavilla @tmarkley @seanneumann

[2022-03-03 01:31] tianleh opened #99 "support rfc folders in the code"
make rfc part of the code

[2022-03-03 01:36] tianleh commented on #99
cc @seraphjiang

[2022-03-03 03:57] kavilla commented on #45
I agree @ohltyler, it can follow the same versioning strategy. As core and the plugins, that being we create branches for `1.3` and once we are prepared to release create a tag for `1.3.0`

[2022-03-03 19:25] tianleh commented on #45
@peterzhuamazon

[2022-03-03 20:15] Flyingliuhub opened #100 "[BUG] Function tests against AOS endpoint with security didn't work"
**What is the bug?**
Function tests against AOS endpoint (not localhost) with security didn't work, the failure screenshot stuck at login pages.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
Run the function tests as following command sample:
`env TZ=America/Los_Angeles npx cypress run --browser chrome --headless --env SECURITY_ENABLED=true,openSearchUrl=https://url,username

[2022-03-03 21:35] davidcui1225 opened #101 "Remove test data from query workbench after tests run"
Add an `after` command in `query-workbench-dashboards` test suite to remove all test data after the tests are finished executing

[2022-03-03 23:32] Tengda-He commented on #100
where is the url parameter defined? it should be the domain endpoint

[2022-03-03 23:56] tianleh commented on #45
Thanks for the input! Updated my proposal to use this one as proposed.

[2022-03-04 00:47] tmarkley commented on #45
Agreed! Syncing on the versioning strategy is the ideal approach I think.

[2022-03-04 01:05] Tengda-He commented on #100
did some test, you need to add this "ENDPOINT_WITH_PROXY=true" to env in the cli, to make it work

[2022-03-04 02:03] tianleh commented on #100
Thank @Tengda-He for researching this! @Flyingliuhub could you help verify?

[2022-03-04 02:38] Flyingliuhub commented on #100
Thanks Tengda.

Two behaviors:
1. cypress/integration/core-opensearch-dashboards/opensearch-dashboards/*.js works with config overrides of username & password & proxy
2. cypress/integration/core-opensearch-dashboards/vanilla-opensearch-dashboards/*.js doesn't work with config overrides of username & password & proxy

If we are planning to use opensearch-dashboards tests, we should update CONTRIBUT

[2022-03-04 20:40] tianleh commented on #72
Release tests are tests used for signing off. It could be all or a subset of the Cypress tests.

[2022-03-04 20:41] tianleh commented on #72
To address this, you can follow AD's example to move all Cypress tests in this repo https://github.com/opensearch-project/anomaly-detection-dashboards-plugin/blob/main/.github/workflows/remote-integ-tests-workflow.yml

[2022-03-04 20:48] tianleh commented on #72
@bowenlan-amzn could you move your thoughts about the development process from https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/107 to this main issue?

[2022-03-04 20:52] tianleh commented on #82
I think this issue can be closed given PR merged https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/98 unless you have more query workbench tests to onboard.

[2022-03-04 20:52] tianleh commented on #82
@davidcui1225

[2022-03-04 20:53] tianleh commented on #78
Can we close the issue given PR merged? @davidcui1225

[2022-03-04 21:06] davidcui1225 commented on #82
It can be closed, and I have already cut a separate issue to delete the workbench test data after tests run

[2022-03-04 21:06] #82 closed

[2022-03-04 21:06] davidcui1225 commented on #78
Yes, closing now

[2022-03-04 21:06] #78 closed

[2022-03-04 21:09] tianleh commented on #74
@davidcui1225 Will you work on this issue?

[2022-03-04 21:19] bowenlan-amzn commented on #72
We experienced an ISM test failure because of the test code was not synchronized from plugin repo to this functional test repo.

This is an evidence that we should proactively advise plugin owners to **remove** the test from their plugin repo once they migrate them here. Only keeps one source of cypress test.
And if we advise this, a subsequent question is how would plugin owner run the test now i

[2022-03-04 22:08] #73 closed

[2022-03-04 22:24] tianleh opened #108 "[BUG] Security related test cases are executed when without-security flag is set"
**What is the bug?**
When running the FTRepo from infra, I see the following errors without-security flag is set. We should skip security related tests when without-security flag is set

[code]

**How can one reproduce the bug?**
`./test.sh integ-test manifests/1.3.0/opensearch-dashboards-1.3.0-test.yml`

**What is the expected behavior?**
Skip security test cases when without-security flag is set

[2022-03-04 23:19] tianleh opened #110 "[FEATURE] Run tests in parallel"
**Is your feature request related to a problem?**
As the number of tests grow in this repo, it takes longer to run all plugin tests. It is ~20mins now
https://github.com/opensearch-project/opensearch-dashboards-functional-test/actions/runs/1936082266

For PRs, we need to wait for such time to see the results.

**What solution would you like?**
The tests can run in parallel.

**What alternatives ha

[2022-03-04 23:20] tianleh commented on #110
@opensearch-project/opensearch-dashboards-test

brainstorming https://docs.cypress.io/guides/guides/parallelization

[2022-03-04 23:35] #108 closed

[2022-03-07 23:47] tianleh commented on #75
I think we can close this issue since https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/103 is merged. Thoughts? @leeyun-amzn

[2022-03-08 00:05] leeyun-amzn commented on #75
There are actually more test files to be added. We can keep this issue open to track.
The remaining files are
`acknowledge_alerts_modal_spec.js`
`alert_spec.js`
`alerts_dashboard_flyout_spec.js`
`bucket_level_monitor_spec.js`
`query_level_monitor_spec.js`

[2022-03-08 19:06] #75 closed

[2022-03-09 18:51] tianleh opened #118 "[FEATURE] add periodic workflow to run functional tests against latest artifacts"
**Is your feature request related to a problem?**
We want to understand the health of the latest artifacts from infra's bundle build.

**What solution would you like?**
The workflow shall run periodically, e.g every 2 hours.

**What alternatives have you considered?**

**Do you have any additional context?**

[2022-03-09 20:26] tianleh opened #119 "[FEATURE] add Github workflow to run against arm"
**Is your feature request related to a problem?**
Currently it only runs against latest ubuntu which is x64. We want to have a flow for arm.

**What solution would you like?**

**What alternatives have you considered?**

**Do you have any additional context?**

[2022-03-09 20:27] tianleh opened #120 "[FEATURE] add a Github workflow to run against infra's docker image"
**Is your feature request related to a problem?**
Currently it is running against ubuntu provided by Github.

**What solution would you like?**

**What alternatives have you considered?**
A clear and concise description of any alternative solutions or features you've considered.

**Do you have any additional context?**
Add any other context or screenshots about the feature request here.

[2022-03-09 20:45] tianleh commented on #119
do not add to pr check to avoid long waiting time

[2022-03-09 20:46] tianleh commented on #120
do not add to pr check to avoid long waiting time

[2022-03-09 22:18] tianleh commented on #74
@davidcui1225 Shall we close this issue given the PR has merged?

[2022-03-09 22:20] davidcui1225 commented on #74
Yes, I will close this issue and cut a new one to address skipped tests

[2022-03-09 22:20] #74 closed

[2022-03-09 22:21] davidcui1225 opened #121 "[BUG] Address skipped failing tests in Observability"
**What is the bug?**
Currently there are some flaky tests in Observability's cypress tests. On most runs they will succeed but a few of them will fail. Need to dive deep and address the root cause to fix the test suite permanently.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What is the expected beh

[2022-03-09 23:03] tianleh commented on #72
Since all issues have been closed, I am closing this main issue!

[2022-03-09 23:03] #72 closed

[2022-03-10 22:20] tianleh opened #123 "create 1.3 branch and 1.3.0 tag"
As part of the versioning strategy.

[2022-03-10 22:21] tianleh commented on #123
Current plan is to do this after the OpenSearch 1.3.0 release.

[2022-03-11 02:23] tianleh opened #124 "[BUG] fix error "Inefficient Regular Expression Complexity in chalk/ansi-regex""
**What is the bug?**
We have a security issue for this repo https://github.com/opensearch-project/opensearch-dashboards-functional-test/security/dependabot/1

[2022-03-11 03:23] tianleh commented on #124
cc @Tengda-He

[2022-03-11 06:34] Tengda-He commented on #124
once this PR in OSD is merged, this bug should be fixed automatically https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1320

[2022-03-11 08:38] tianleh opened #126 "test strategy for OpenSearch 1.3.0 release for bundled OSD"
Currently the integration test running from infra's Jenkins job has flaky results. While we are continuously improving the Docker image and the browser, we can in parallel prepare some alternatives with some automation for 1.3.0 release, I am proposing https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/118.

This has been consistently successful running from the Git

[2022-03-11 08:42] tianleh commented on #126
cc @seraphjiang @kavilla @peterzhuamazon for input

[2022-03-11 08:43] tianleh commented on #126
Send a PR https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/125 to run the tests in this repo every 3 hours by using the latest url. Browser: Chrome. Architecture: x64

[2022-03-11 08:45] tianleh commented on #126
I am still working on the improvement on the infra's Docker image https://github.com/opensearch-project/opensearch-build/issues/1743 and enhance the test notification https://github.com/opensearch-project/opensearch-build/issues/1728

[2022-03-12 07:48] #118 closed

[2022-03-15 02:28] kavilla commented on #110
After a quick glance it seems like the docs are suggesting run them all multiple machines which is possible but kind of greedy. This seems like a well maintained npm package: https://github.com/tnicola/cypress-parallel that helps it run on the same machine in parallelization. Granted it probably resource intensive for the single machine running it.

[2022-03-15 09:17] tianleh opened #130 "[FEATURE] support potential break changes from plugin for 2.0.0"
**Is your feature request related to a problem?**
Dashboard plugins are working on 2.0.0 We will need the 1.x branch and main branch for 2.0.0 especially when there are breaking changes.

**What solution would you like?**

**What alternatives have you considered?**

**Do you have any additional context?**

[2022-03-15 09:17] tianleh commented on #130
cc @amitgalitz for vsibility

[2022-03-16 19:17] tianleh opened #133 "[BUG][Main] Fix flaky test cases for bundled OpenSearch Dashboards plugins"
**What is the bug?**

We have noticed flaky test when running the test cases for Dashboards plugins. To collect enough data points for analysis, we have set up multiple Github [workflows](https://github.com/opensearch-project/opensearch-dashboards-functional-test/actions?query=event%3Aschedule) against different browsers every three hours. By analyzing the past 10 failed [runs](https://github.com/

[2022-03-16 19:23] tianleh commented on #133
cc @dblock @peterzhuamazon @seraphjiang

[2022-03-16 19:31] tianleh commented on #133
@ohltyler for AD
@bowenlan-amzn for ISM
@joshuali925 for observability
@davidcui1225 for reports

[2022-03-16 19:35] tianleh commented on #133
@joshuali925 shared a tip to handle the interaction with dropdown component https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/c76fdc95db7d864b5616d947469589d7ef1c637d/cypress/integration/plugins/observability-dashboards/notebooks.spec.js#L272

[2022-03-17 07:32] tianleh commented on #81
cc @ohltyler @joshuali925 I will take care of updating the existing old functions used in tests to their replacement in 9.5.2

[2022-03-17 18:33] tianleh commented on #123
Thank @peterzhuamazon for creating such

https://github.com/opensearch-project/opensearch-dashboards-functional-test/releases/tag/1.3.0

https://github.com/opensearch-project/opensearch-dashboards-functional-test/tree/1.3

[2022-03-17 18:34] #123 closed

[2022-03-17 18:36] tianleh opened #135 "Clean up periodic workflows"
We have created multiple periodic workflows to run experiments on browsers, configuration parameters, plugins to tune the performance of tests.

[2022-03-17 18:37] tianleh commented on #135
We want to clean these up once the experiments are done. https://github.com/opensearch-project/opensearch-dashboards-functional-test/actions?query=event%3Aschedule

[2022-03-17 19:03] tianleh opened #137 "Add documentation about building from source for Cypress on arm64 linux"
Cypress has no official support for arm64 on linux. We have to build from source for this. This issue is to detail the steps.

[2022-03-17 21:42] peterzhuamazon commented on #137
We can create a dockerfile with scripts on it.
This is better than manually mcm this.

[2022-03-17 22:07] tianleh commented on #84
cc @kavilla since as 2.0.0 is on the way.

[2022-03-22 18:01] tianleh opened #141 "Update the PR check Github workflow to run in OpenSearch Dashboards integ CI image"

[2022-03-22 18:03] tianleh opened #142 "Update PR check to read version from package.json instead of manual input"

[2022-03-23 22:28] Flyingliuhub opened #143 "[FEATURE] Function test should support Cognito"
**Is your feature request related to a problem?**
The current function test didn't support Cognito, it cannot locate the element of username and password

**What solution would you like?**
The function test should support Cognito.

**What alternatives have you considered?**
N/A

**Do you have any additional context?**
Please see the screenshot for the failure.

<img width="1064" alt="image" src="h

[2022-03-24 16:28] ohltyler commented on #133
AD flakiness was cleaned up in #144 besides one test that may be related to the Cypress upgrade ([link](https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/144#issuecomment-1076965731))

[2022-03-24 16:30] ohltyler opened #147 "Get AD tests to consistently pass in Cypress 9.x"
There's an ongoing campaign to upgrade cypress to 9.5.2 (#136). One consistent failure is seen when running AD tests (see [comment](https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/144#issuecomment-1076965731)). Investigate this separately

[2022-03-24 17:03] tianleh commented on #147
This is one recent example of failure of "detector_list_spec.js" in 5.6.1 https://github.com/opensearch-project/opensearch-dashboards-functional-test/runs/5669009345?check_suite_focus=true

You can find more examples here https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/126#issuecomment-1068353477

[2022-03-25 16:43] #147 closed

[2022-03-30 07:33] kavilla opened #153 "[PROPOSAL] Check if env variable and build spec from it"
https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/integtest.sh#L82

^ This file is used by the build repo to trigger integration tests for OpenSearch Dashboards. How about we we default to the `TEST_FILES` to be all test files but we check an environment variable to see there exists a $TEST_FILES environment variable already set. When this file is executed it wi

[2022-04-03 16:36] tianleh opened #160 "Add documentation about `backport` feature"
Thanks @kavilla for onboarding this repo to the `backport` feature. We have been using this feature e.g https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/154

This issue is to add documentation to https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/CONTRIBUTING.md about using this feature.

[2022-04-04 21:54] abhinavGupta16 opened #161 "[FEATURE] Bump the version for 1.3.1 opensearch-dashboards release"
**Is your feature request related to a problem?**
We need to bump the version for 1.3.1 in 1.x and 1.3 branches for 1.3.1 releases wrt to the release issue - https://github.com/opensearch-project/opensearch-build/issues/1885

[2022-04-05 01:46] kavilla opened #163 "[BUG] Address workarounds due to arm64 resps within security plugin"
https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/162, was added to work around the difference presented in cypress and the architectures that caused the responses not to be as expected. I think if we upgrade and a bug is fixed on aarch64 we should be able to restore this to the same checks.

[2022-04-05 05:42] #160 closed

[2022-04-05 06:10] kavilla commented on #161
Completed!

[2022-04-05 06:10] #161 closed

[2022-04-08 00:27] abhinavGupta16 opened #179 "[FEATURE] Bump the version for 1.3.2 opensearch-dashboards release"
**Is your feature request related to a problem?**
Post Release activity https://github.com/opensearch-project/opensearch-build/issues/1885 -

We need to bump the version for 1.3.2 in 1.x and 1.3 branches for 1.3.2 releases wrt to the release issue - https://github.com/opensearch-project/opensearch-build/issues/1882

ETA - 04/14/2022

[2022-04-12 23:01] ohltyler opened #181 "[AD] Add an alerting integration test suite"
Details in original AD issue: https://github.com/opensearch-project/anomaly-detection-dashboards-plugin/issues/18

Overall idea: add tests to confirm integration with alerting plugin works as expected. Only run that test suite when both AD + alerting are installed on the test cluster.

[2022-04-14 00:28] kavilla opened #183 "[Alerting] fix commented out tests"
Origin: https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/182

The tests were commented in alerting plugin:
https://github.com/opensearch-project/alerting-dashboards-plugin/pull/214

So matching the source repo, the tests step were commented as well. We will need to copy-paste the fixes from the source repo.

[2022-04-14 20:36] kavilla opened #184 "[FEATURE] Onboard notifications sanity tests"
New plugin

https://github.com/opensearch-project/notifications/tree/main/dashboards-notifications

[2022-04-14 20:46] kavilla opened #186 "[PROPOSAL] Utilize linter"
Onboard some linter to ensure coding style as matches every file as defined by the repo.

[2022-04-19 21:25] kavilla opened #189 "Bump github actions to use stable 2.0 build once ready"
Github actions using workflow to download  an artifact but currently uses 1.3. Some tests are not compatible with 1.3 on the main branch. But we don't really have a stable build for 2.0 yet. So once we do we should switch the github actions on main to use 2.0 or refactor it to pull the package version.

[2022-04-21 21:37] tianleh commented on #189
For every plugin workflow, update the version.

See this sample location
https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/.github/workflows/alerting-release-e2e-workflow.yml#L13

[2022-04-21 21:42] tianleh commented on #186
e.g eslint

[2022-04-21 21:44] tianleh commented on #184
Shall we add `2.0.0` label for this issue?

[2022-04-21 21:47] tianleh commented on #183
@AWSHurneyt Do you plan to implement this as part of `2.0.0` release?

[2022-04-21 21:51] tianleh commented on #181
@ohltyler Any plan to move this forward?

[2022-04-21 21:55] AWSHurneyt commented on #183
I don't believe so. As destinations are being deprecated, my understanding at this time is that we plan to refactor the destination-related portions of these tests to use notification channels instead.

Including @[qreshi](https://github.com/qreshi), as he's been working on the notifications plugin.

[2022-04-21 22:03] tianleh commented on #163
This is the related Cypress upgrade PR https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/136

[2022-04-21 22:07] tianleh commented on #153
Close this since the related PR has been merged.

[2022-04-21 22:07] #153 closed

[2022-04-21 22:09] kavilla commented on #183
yes I actually have a PR running right now https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/191, then removed some of that stuff but not all. it does seem all the destinations stuff relies on notifications repo which seems like even more reason to onboard on to this repo. If the expected functionality of the alerting plugin relies on the notifications plugin, then h

[2022-04-21 22:11] tianleh commented on #189
If https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/142 is done, this issue will need to just read `package.json`

[2022-04-21 22:15] tianleh commented on #141
pr https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/152/files

[2022-04-21 22:21] tianleh commented on #137
Link to the dockerfile https://github.com/opensearch-project/opensearch-build/blob/main/docker/ci/dockerfiles/build.centos7.opensearch-dashboards.x64.arm64.dockerfile

[2022-04-21 22:24] tianleh commented on #137
Opensearch dockers https://hub.docker.com/r/opensearchstaging/ci-runner/tags

[2022-04-21 22:28] tianleh commented on #130
Already created 1.x branch

[2022-04-21 22:28] #130 closed

[2022-04-21 23:19] tianleh commented on #124
issue still exists https://github.com/opensearch-project/opensearch-dashboards-functional-test/security/dependabot

[2022-04-21 23:20] tianleh commented on #121
@davidcui1225 Any plan to move forward?

[2022-04-21 23:21] tianleh commented on #119
We either need to wait for Github to provide arm hosts or have our self hosted arm machines.

[2022-04-21 23:29] tianleh commented on #86
Can you add more details about the proposal? @Tengda-He

[2022-04-22 00:35] tianleh commented on #84
Implemented in https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/153 by @kavilla

[2022-04-22 00:35] #84 closed

[2022-04-22 00:48] tianleh commented on #60
Already onboarded all plugins in such a way

[2022-04-22 00:48] #60 closed

[2022-04-22 00:50] tianleh commented on #47
Already addressed https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/integtest.sh

[2022-04-22 00:50] #47 closed

[2022-04-22 00:51] tianleh commented on #45
All related branches have been created and will continue to operate in such a way

[2022-04-22 00:51] #45 closed

[2022-04-22 00:52] tianleh commented on #43
implemented the plugin specific workflows.

[2022-04-22 00:52] #43 closed

[2022-04-22 00:54] tianleh commented on #28
we have switched to use the Github branch directly instead of going through the npm publish process.

[2022-04-22 00:54] #28 closed

[2022-04-22 00:55] tianleh commented on #22
same as https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/28 no longer needed

[2022-04-22 00:55] #22 closed

[2022-04-22 00:56] tianleh commented on #21
Already supported in the build repo. https://github.com/opensearch-project/opensearch-build/pull/1250

[2022-04-22 00:56] #21 closed

[2022-04-22 00:59] tianleh commented on #18
have one https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/CONTRIBUTING.md

we will add new content when needed.

[2022-04-22 00:59] #18 closed

[2022-04-22 01:00] tianleh commented on #17
already able to run inside infra's docker

[2022-04-22 01:00] #17 closed

[2022-04-22 01:01] tianleh commented on #3
Already run after every distribution build from infra

[2022-04-22 01:01] #3 closed

[2022-04-22 16:52] Tengda-He commented on #86
I find there are some public cypress plugin addressing the same issue. there is an interesting [one](https://testersdock.com/cypress-test-tags/), which shows an usage example like:
creating the test method with tags:

ex: it('Using filter with selector', {tags:'regression'}, function(){...

Then the test can be executed by cmd:
npx cypress run --env greTags="regression"

Basically the plugin lever

[2022-04-22 22:45] #142 closed

[2022-04-22 22:45] #189 closed

[2022-04-25 17:22] CCongWang opened #195 "Use Prettier to automate formatting and fixing JavaScript"
Prettier was added in https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/70, contributors need to run `npx prettier * --write` manually to auto format and fix existing files. We plan to integrate prettier with eslint in https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/186 to improve code quality, but there will be a lot of code change

[2022-04-25 17:25] seraphjiang commented on #195
should we need to list all folder/components we plan to breakdown and run
e.g.
- [ ] plugins\security
- [ ] core
- [ ] ...

[2022-04-25 17:28] CCongWang commented on #195
@seraphjiang I was thinking that running `npx prettier * --write` for all files should be sufficient, but I guess you are right, I can run for each folder in each commit, so it will be easier for plugin owners to review the changes

[2022-04-25 17:32] seraphjiang commented on #195
not sure how much chance, if only a few files, `npx prettier * --write` works :)
this is great step to improve code quality leveraging automation script

[2022-04-25 19:42] CCongWang commented on #195
I have ran `npx prettier {path} --write` against each folder to fix styling issued based on prettier rules, please find affected plugins below:
- [ ] alerting plugin, see [commit](https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/196/commits/a505bc05c432a1050d20fb7611f8c265e063d190)
- [ ] AD plugin, see [commit](https://github.com/opensearch-project/opensearch-dashbo

[2022-04-25 21:29] CCongWang commented on #195
[3 tests from observability failed](https://github.com/opensearch-project/opensearch-dashboards-functional-test/runs/6164496902?check_suite_focus=true):
* plugins/observability-dashboards/5_event_analytics.spec.js
  * `Redirect to correct page on breadcrumb click:
     AssertionError: Timed out retrying: Expected to find content: 'Explorer' within the element: <span.euiBreadcrumb.euiBreadcrumb--la

[2022-04-25 21:39] kavilla commented on #195
Yeah that's fine. I can reject again but observability side is good but I wouldn't be against another verification from the Observability plugin

[2022-04-25 23:07] #195 closed

[2022-04-26 00:50] CCongWang opened #198 "[PROPOSAL] Enforcing coding conventions and formatting with Husky pre-commit hooks"
**What is the problem? What is preventing you from meeting the requirements?**
`prettier` was added in https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/70, and was integrated with `ESLint` to apply coding conventions and formatting rules to the project in https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/186. However, contributors ne

[2022-04-26 00:58] seraphjiang commented on #198
add small request, could we add the pre-commit setup/usage to
https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/CONTRIBUTING.md

[2022-04-27 00:09] #100 closed

[2022-04-27 05:06] #186 closed

[2022-04-27 05:45] CCongWang commented on #198
@joshuali925 @ohltyler @davidcui1225 @bowenlan-amzn @annie3431

Hi plugin owners, we plan to use precommit hook to run lint command automatically, the goal is to make the code styles and formatting consistent, please check out [the PR](https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/201) and updated `Formatting` section in CONTRIBUTING. Let me know if you have ques

[2022-04-27 21:11] #198 closed

[2022-04-28 01:00] #184 closed

[2022-04-29 16:54] tianleh opened #205 "[Proposal] automate test case generation through clicks"
The high level idea is to record the click events and automatically generate test code.

[2022-04-30 06:31] tianleh opened #211 "Trigger only related plugin tests on PR check when one particular plugin folder is changed"
Currently all action workflows will run even if the PR changes an individual folder. We want to achieve the following goal, e.g if AD test has a change, only AD workflow will run on PR check

[2022-04-30 06:31] tianleh commented on #211
@peterzhuamazon

[2022-04-30 06:32] peterzhuamazon commented on #211
There are existing actions for us to achieve this:
https://github.com/dorny/paths-filter

I will write a test case soon.

[2022-04-30 17:37] seraphjiang opened #212 "[Doc] Update maintainer doc"
https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/MAINTAINERS.md

[2022-05-01 01:08] seraphjiang commented on #212
nominate @tianleh @kavilla @Tengda-He @ohltyler @CCongWang @davidcui1225

https://github.com/opensearch-project/.github/blob/main/MAINTAINERS.md#becoming-a-maintainer

[2022-05-02 02:17] tianleh commented on #81
Already upgraded to `9.5.4`

https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/203

[2022-05-02 02:18] #81 closed

[2022-05-03 04:04] kavilla opened #214 "[FEATURE] Disable merge commits"
Merge commits end up creating an extra commit and also keeps all the commits apart of the PR. The git history gets messy and ends up including invalid commits. Anytime a developer forks this repo they should be able to assume that they can be on any commit and for it to be valid.

[2022-05-03 04:07] kavilla commented on #214
I ended up disabling for this repo but will keep this untriaged to ensure others share their opinions.

[2022-05-03 04:07] seraphjiang commented on #214
Thanks @kavilla any recommendation?
could squash merge help? if so, is there a way to enforce.

[2022-05-03 04:10] kavilla commented on #214
I just ended disabling so they can't click that button now. Rebasing and squashing are still enabled. To be honest, there are valid reasons to create merge commits but right now it. Right now the history is a little messy but to fix it, it might require everyone rebase from main and handle conflicts.

[2022-05-03 04:12] seraphjiang commented on #214
Great, i don't know it could be disabled. good to learn~~

[2022-05-03 04:13] seraphjiang commented on #214
@tianleh  @CCongWang any comments~

[2022-05-03 15:54] peterzhuamazon commented on #211
Resolved in #213.

[2022-05-03 15:54] #211 closed

[2022-05-07 09:16] kavilla opened #217 "[FEATURE] Github pages to link/show results"
Enable [github pages](https://pages.github.com/) that can accept an input (or maybe just display the latest result for all supported versions) that hits the distribution build sanity tests results. Then users can view results through the github pages site without knowing the format of the URL, view any screenshots if any failures or further links to download.

Some basic HTML and JS should be able

[2022-05-09 17:33] CCongWang opened #218 "Backport tests to OSD 1.0 and 1.1"
Branch 1.0 and 1.1 are currently missing, we will need to create branches and backport tests.

[2022-05-09 17:36] CCongWang opened #219 "Sanity tests are missing for vanilla dashboards"
[vanilla-opensearch-dashboards](https://github.com/opensearch-project/opensearch-dashboards-functional-test/tree/main/cypress/integration/core-opensearch-dashboards/vanilla-opensearch-dashboards) currently only includes filtering tests, [sanity tests](https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/cypress/integration/common/dashboard_sample_data_spec.js) are

[2022-05-09 18:48] CCongWang opened #221 "Improve dev tools tests"
Currently we [only test if dev tools display correctly](https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/cypress/integration/common/dashboard_sample_data_spec.js#L292-L318), but according to @Flyingliuhub , we will need to test sample queries in AOS release

[2022-05-09 20:11] kavilla opened #222 "[BUG] Use npm package of test library"
https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/package.json#L39

Utilizes the main branch when we https://www.npmjs.com/package/@opensearch-dashboards-test/opensearch-dashboards-test-library.

This causes an issue if the npm package main branch is bumped but then this repo was not expecting any change. For example the integrity of the lock file: https://githu

[2022-05-11 00:29] zelinh commented on #179
We should be closing this issue as #204 is merged.

[2022-05-11 01:15] peterzhuamazon commented on #137
Close this as we already record the steps in the dockerfile.

[2022-05-11 01:15] #137 closed

[2022-05-11 21:21] CCongWang commented on #218
My plan is:
1. create a new branch called 1.0 off branch 1.2, `git checkout 1.2; git checkout -b 1.0`, push the new branch 1.0
2. make necessary change in 1.0, like changing the version and fixing the tests, create a PR
3. do the same for 1.1

@seraphjiang @tianleh @kavilla Let me know if you have any questions or suggestions, thanks!

[2022-05-12 06:36] tianleh commented on #218
Looks good! Thanks for the backporting!

[2022-05-13 19:04] ohltyler commented on #222
All of the github actions for plugins are currently failing due to permissions issues due to the version mismatch when the test library version was bumped. Errors seen:
[code]

[ref](https://github.com/opensearch-project/opensearch-dashboards-functional-test/runs/6427808781?check_suite_focus=true)

[2022-05-14 01:03] tianleh commented on #110
@peterzhuamazon

[2022-05-14 01:07] peterzhuamazon commented on #110
Hi,

Thinking about adding a `--cypress-component` parameter or similar to control script_finder to call only the corresponding ts files, so that tests can be properly parallelized horizontally, will test later.

The above mentioned cypress parallelization is more of a vertical scale, not suitable for the cases running in Jenkins or local without high spec servers.

Thanks.

[2022-05-18 22:47] CCongWang opened #228 "Branch 1.0 follow-up: fix failed plugin tests"
We backported branch 1.2 to new branch 1.0, but there are a few plugin tests consistently failing, we need to look into them and fix them
Check out failed tests in this workflow: https://github.com/opensearch-project/opensearch-dashboards-functional-test/runs/6496449618?check_suite_focus=true

[2022-05-18 22:47] CCongWang opened #229 "Branch 1.1 follow-up: fix failed plugin tests"
We backported branch 1.2 to new branch 1.1, but there are a few plugin tests consistently failing, we need to look into them and fix them
Check out failed tests in this workflow: https://github.com/opensearch-project/opensearch-dashboards-functional-test/runs/6497344821?check_suite_focus=true

[2022-05-19 20:31] kavilla opened #231 "[BUG] Intermittent failures when security plugin enabled"
### What is the bug?
Tests will navigate to pages and it will need to switch tenants before navigating which can take longer than expected if the current test suite is taking a longer time. This means if security plugin is enabled and then navigate to a page it will try to make a tenancy call that doesn't complete before another API call is made (related to the test itself) and that API call fails

[2022-05-19 21:14] CCongWang commented on #218
closed since both https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/226 and https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/225 have been merged.

[2022-05-19 21:14] #218 closed

[2022-05-23 23:18] #231 closed

[2022-05-24 18:14] peterzhuamazon commented on #110
Opened a build repo issue on https://github.com/opensearch-project/opensearch-build/issues/2144 and will try to use `--test` parameter as it is matching the `test_finder.sh`.

[2022-05-24 21:17] peterzhuamazon commented on #110
* 20220524: https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/234

[2022-06-03 16:07] kavilla opened #238 "[Site] scan for tests to build links for site"
Origin: https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/235#discussion_r888660055

Scan test files for links for plugins.

We can build the link names reading the cypress description + mp4.

[2022-06-03 16:08] #217 closed

[2022-06-03 18:56] tianleh opened #241 "Remove dco check from workflow"
This is the workflow to be removed https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/.github/workflows/dco.yml

See this example for reference https://github.com/opensearch-project/opensearch-build/pull/2105

[2022-06-04 02:07] #241 closed

[2022-06-15 16:57] seraphjiang commented on #212
@tianleh is there any update?

[2022-06-15 18:28] seraphjiang commented on #212
what does update directly means?

could we raise a PR for proposed maintainer list?

[2022-06-15 18:32] tianleh commented on #212
"Update directly" means raising PR to update this [section](https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/MAINTAINERS.md#current-maintainers). The standard process has a voting [process](https://github.com/opensearch-project/.github/blob/main/MAINTAINERS.md#becoming-a-maintainer) which I think is not yet applicable to this repo since we do not have the initi

[2022-06-15 18:59] seraphjiang commented on #212
make sense, let's go with direct PR~

[2022-06-15 20:33] #212 closed

[2022-06-30 18:55] tianleh opened #265 "document the release process for every minor/major release"
Motivated by https://github.com/opensearch-project/opensearch-plugins/issues/142 , we want to update our branching strategy. The major delta is that we will need to use `main` for next major release (3.0).

[2022-06-30 18:56] tianleh commented on #265
cc @kavilla @CCongWang @seraphjiang

[2022-07-04 04:01] #265 closed

[2022-07-14 23:56] CCongWang commented on #222
Yeah publishing to NPM would prevent the above issues from happening, and provide another 2 benefit:

- Remove the GitHub dependency `"@opensearch-dashboards-test/opensearch-dashboards-test-library": "git+https://github.com/opensearch-project/opensearch-dashboards-test-library.git#main"`
- Have version control, which support more feature development in the future

[2022-07-15 16:00] prudhvigodithi opened #270 "Implement OpenSearch core branching strategy"
### Description

Ensure `MAJOR_VERSION.x` branch exists, the `main` branch acts as source of truth effectively working on 2 versions at the same time.

### Related META issue

https://github.com/opensearch-project/opensearch-plugins/issues/142

### Current Behavior

Currently plugins follow a branching strategy where they work on `main` for the next development iteration, effectively working on 2

[2022-07-26 03:55] tianleh commented on #222
Looks good! We do not need to worry about regression once we have versions for the test library.

@CCongWang Could you check with @ananzh about how the org publishes to npm?

cc @seraphjiang @kavilla @ohltyler

[2022-08-02 17:13] CCongWang commented on #222
@tianleh yeah we need to prepare the MCM and work with infra team to review it, will do

[2022-08-11 16:09] ohltyler opened #278 "[AD] Fix flaky tests"
For 2.2 release, several flaky tests were seen in the gh runners. Tracking those failures here to be fixed for 2.3 release.

[2022-08-11 16:10] ohltyler commented on #278
[code]

[2022-08-11 16:12] ohltyler commented on #278
@jackiehanyang feel free to add any more flaky failures you were seeing in your testing here

[2022-08-11 18:18] ohltyler commented on #278
+ @amitgalitz if you've seen any recent failures

[2022-08-12 19:11] DarshitChanpura opened #280 "Investigate flaky test in security dashboards functional test"
During the latest functional test build for version 2.2, a test in permissions_spec.js: "should create new action group successfully by selecting `Create from blank`" intermittently fails during cy.intercept() call in `mockPermissions` in [command.js](https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/63978b6597918056f9a5cd22427eaaf14a869996/cypress/utils/plugins/secu

[2022-08-31 21:18] DarshitChanpura opened #284 "[BUG] Flaky test in permissions_spec.js in functional-tests dashboards repo"
Intermittent test failure for a test in [permission_spec.js](https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/63978b6597918056f9a5cd22427eaaf14a869996/cypress/integration/plugins/security/permissions_spec.js#L75) with unknown root cause.

More specifically `cy.wait(@getPermissions)` gets stuck on waiting for mock command to finish execution.

Failed once [during 2.2

[2022-09-06 19:50] peternied commented on #284
This seems like its an intermittent failure - sounds like cypress isn't working correctly for this scenario.

[2022-09-08 00:33] noCharger opened #285 "Release version 2.3.0"
This is a component issue for __2.3.0__.
Coming from [opensearch-build#2447](https://github.com/opensearch-project/opensearch-build/issues/2447). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin level

[2022-09-08 00:34] noCharger opened #286 "Increment the version on the parent branch (2.x) to the next development iteration (2.4)"

[2022-09-08 01:00] noCharger opened #288 "Update to the `2.3` release branch in the distribution manifest."

[2022-09-08 17:38] #288 closed

[2022-09-12 22:03] mengweieric opened #289 "Remove Observability flaky tests from FTR"
### Is your feature request related to a problem?
Some of the tests/test suits for Observability plugin are flaky which causes false alarms for releases from time to time.

### What solution would you like?
Remove unnecessary but prone-to-be-flaky tests, and fix/improve those that are necessary.

[2022-09-23 09:56] ashwin-pc opened #290 "[BUG] Instructions on how to run the repo not clear"
### What is the bug?
Information on how to run the tests in this repo are currently present in the [CONTRIBUTING.md](https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/CONTRIBUTING.md). This does not follow the readme structure followed by the rest of the project e.g. OpenSearch Dashboards that has this information in [DEVELOPER_GUIDE.md](https://github.com/opens

[2022-09-28 07:48] kavilla opened #294 "[BUG][Site] DOM text is reinterpreted as HTML without escaping meta-characters."
Origin: https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/291

Website code shows this `DOM text is reinterpreted as HTML without escaping meta-characters.` for PRs.

Not used in production so no vulnerability should be present.

[2022-09-28 18:14] tianleh commented on #285
Are we able to close this issue? @noCharger

[2022-09-28 18:17] noCharger commented on #285
Will double check the post release items and close it today

[2022-09-29 19:31] noCharger opened #305 "Investigate Cypress 10"

[2022-09-30 00:15] ashwin-pc opened #307 "[BUG] Lint errors"
### What is the bug?
unable to commit changes because the pre-commit lint checker fails in test files from

[code]

- cypress/integration/plugins/anomaly-detection-dashboards-plugin
- cypress/integration/plugins/custom-import-map-dashboards

### How can one reproduce the bug?
- Make a change to a file that is not in the two folders mentioned above
- Try to commit your changes
- You should see the

[2022-09-30 00:56] ashwin-pc opened #309 "[Chore] Remove `experimentalNetworkStubbing` from the config"
We should remove the `experimentalNetworkStubbing` flag in `./cypress.json` since on startup we get the following info message

[code]

[2022-09-30 05:34] CCongWang opened #310 "[BUG] Cypress request is misconfigured in observability tests"
### What is the bug?
_A clear and concise description of the bug._

### How can one reproduce the bug?
_Steps to reproduce the behavior._

### What is the expected behavior?
_A clear and concise description of what you expected to happen._

### What is your host/environment?
_Operating system, version._

### Do you have any screenshots?
_If applicable, add screenshots to help explain your problem.

[2022-09-30 05:35] CCongWang opened #311 "[BUG] Cypress request is misconfigured in query-workbench-dashboards"
### What is the bug?
_A clear and concise description of the bug._

### How can one reproduce the bug?
_Steps to reproduce the behavior._

### What is the expected behavior?
_A clear and concise description of what you expected to happen._

### What is your host/environment?
_Operating system, version._

### Do you have any screenshots?
_If applicable, add screenshots to help explain your problem.

[2022-09-30 05:35] CCongWang opened #312 "[BUG] Cypress request is misconfigured in gantt-chart-dashboards tests"
### What is the bug?
_A clear and concise description of the bug._

### How can one reproduce the bug?
_Steps to reproduce the behavior._

### What is the expected behavior?
_A clear and concise description of what you expected to happen._

### What is your host/environment?
_Operating system, version._

### Do you have any screenshots?
_If applicable, add screenshots to help explain your problem.

[2022-09-30 05:36] CCongWang opened #313 "[BUG] Content Type is overriden in Cypress request due to `form: true` misconfiguration"
### What is the bug?
The `content-type` is explicitly specified as `'content-type': 'application/json;charset=UTF-8'` in the following tests, however, form is specified as true, which means `the body should be form urlencoded and sets Content-Type: application/x-www-form-urlencoded headers` according to [Cypress Request documentation](https://docs.cypress.io/api/commands/request#Options). Therefor

[2022-09-30 05:56] seraphjiang commented on #313
This is per request base settings,

We are not going to set form:true for all test, right?

[2022-09-30 16:37] CCongWang commented on #313
I actually don't have much context for each plugin test, I'm not sure if they use `form: true` intentionally, so I guess the best way is to ask each test owner to double check if `form: true` is needed or which `content-type` should be used

[2022-09-30 17:03] seraphjiang commented on #313
[HTML form submissions using form option](https://docs.cypress.io/api/commands/request#HTML-form-submissions-using-form-option)

assume it is only used when use cypress to submit html form. and it is not set by default as global settings for all cypress http request. if we could confirm that, we are good.

we should improve our develop guideline

[2022-10-03 16:41] noCharger commented on #305
No bandwidth at this moment, feel free to pick it up.

[2022-10-04 15:47] #285 closed

[2022-10-04 17:47] tianleh commented on #228
We may need plugin team to check the errors.

[2022-10-04 17:48] tianleh commented on #229
We may need plugin team to take a look

[2022-10-04 17:56] tianleh commented on #238
Could we add a doc for this feature in general?

[2022-10-04 17:57] tianleh commented on #270
Already implemented such in this repo

[2022-10-04 17:57] #270 closed

[2022-10-04 17:58] tianleh commented on #289
@mengweieric Do you have an ETA for this task?

[2022-10-05 22:01] #309 closed

[2022-10-06 16:32] mengweieric commented on #289
Yes, it's in the roadmap of 2.4 releases.

[2022-10-06 17:13] tianleh commented on #289
Can I assign the issue to you or another teammate will take care of this?

[2022-10-06 18:26] mengweieric commented on #289
Please assign to me thanks.

[2022-10-11 23:31] tianleh opened #321 "Support running tests against Windows artifact"
Inspired by https://github.com/opensearch-project/opensearch-plugins/issues/95 , create an issue to support running tests against Windows artifact.

[2022-10-12 00:19] tianleh commented on #321
cc @peterzhuamazon

[2022-10-12 00:57] tianleh commented on #321
synced up with @peterzhuamazon  The execution of the artifact and the test could all happen in the windows server. There won't be Docker for Windows. Peter will check into the Cypress support in Windows next week.

[2022-10-12 02:29] seraphjiang commented on #321
Ideally, functional test should has dependencies on Browser, but not OS.

[2022-10-12 02:57] tianleh commented on #321
I was thinking about running Windows artifact on Windows and then exposing the endpoint. Then the tests can still run in a Linux env. However, this may require a remote endpoint.

Running the artifact and the tests together in the Windows env is more convenient to avoid the remote endpoint. The cost is that we need to have Cypress installed in Windows.

[2022-10-12 22:53] peterzhuamazon commented on #321
Verified we can directly install cypress on windows through npm.
[code]

The installed version, unlike arm64, is native.

[2022-10-12 22:55] peterzhuamazon commented on #321
Next step:
* Adding cypress as part of the windows ami
* Run some existing test on windows with cypress.

[2022-10-13 21:23] tianleh commented on #305
cc @CCongWang who worked on Cypress 9 upgrade. If we decide to use Cypress 10 for 3.0, then we may need a new Docker image to run OSD test.

cc @peterzhuamazon

[2022-10-18 18:01] yibow98 opened #337 "[MD] Remove experimental callout test case when MD feature becomes permanent in the future"
Currently, the multiple datasource (MD) feature is only in experimental status so it has an experimental callout component in each datasource page. When MD feature becomes permanent in the future, this experimental callout will be removed and the test case for experimental callout will also be removed in functional test.

[2022-10-25 02:25] ZilongX opened #346 "[PROPOSAL] - Enable automation of release notes generation"
## What/Why
### What are you proposing?

Enable automation of release notes generation.

### What users have asked for this feature?

Developer / Customer to get better understanding of the release items

### What problems are you trying to solve?

Generate release note automatically instead of manually

### What is the developer experience going to be?

Developer won't need to manually update the

[2022-10-25 02:48] #346 closed

[2022-10-25 03:23] seraphjiang commented on #346
rest api for integration
https://docs.github.com/en/rest/releases/releases#generate-release-notes-content-for-a-release

[2022-10-25 03:24] seraphjiang commented on #346
how this feature being developed
https://github.com/community/community/discussions/5962

[2022-10-28 00:17] tianleh opened #353 "Discuss about backport process"
The issue is to start a discussion about improving the backport process in the repo.

Currently the backport happens when the PR author adds the backport label or the maintainer needs to ask the author whether the PR requires backport. We want to improve the experience for both PR authors and maintainers. Note that PR authors may or may not have the permission to add labels.

We can discuss the to

[2022-10-28 00:18] tianleh commented on #353
@kavilla @CCongWang @ohltyler

cc @seraphjiang @ZilongX @mpabba3003 @kristenTian

[2022-10-28 01:05] tianleh commented on #353
cc @ashwin-pc @yibow98 @RyanL1997

[2022-10-28 02:38] seraphjiang commented on #353
Could we convert to a proposal or rfc, and raise a PR to update https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/CONTRIBUTING.md

Is there any PR ( + backport) follow the practice as proposal could be list here as reference?  could we

[2022-10-30 18:07] #337 closed

[2022-11-01 00:26] AMoo-Miki opened #358 "[RELEASE] Release version 2.4.0"
This is a component issue for __2.4.0__.
Coming from [opensearch-build#2649](https://github.com/opensearch-project/opensearch-build/issues/2649). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin level

[2022-11-01 02:24] ananzh commented on #358
Hi @tianleh @CCongWang, we have cut v2.4.0 for this repo. For this task `Complete [documentation] if there's any changes (https://github.com/opensearch-project/documentation-website).`, since we haven't reviewed all the PRs, could anyone of you help us to double-check and cross out this task if it is done?

[2022-11-01 20:45] Flyingliuhub opened #402 "[Multitenancy] Switch tenant didn't work for cypress"

[2022-11-01 22:06] tianleh opened #359 "Add Github workflow for running against Windows latest"
Currently the template only supports Linux.
https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/v2.4.0-rc2/.github/workflows/release-e2e-workflow-template.yml

We want to extend it to support Windows and also Mac. It will need the `latest` url to work for both OpenSearch and OpenSearch Dashboards.

[2022-11-01 22:11] CCongWang commented on #358
Hi @ananzh , we have checked the commits, no documentation is needed on FTRepo side

[2022-11-02 09:18] ashwin-pc opened #360 "[PROPOSAL] Add Lint check to CI"
## What/Why
### What are you proposing?
Add a Lint check to the CI

### What users have asked for this feature?
#307

### What problems are you trying to solve?
There is a lint check thats performed on commit, but somehow it looks like its ignored. since its not checked during CI, the maintainers are not aware of it and the changes get merged in. Adding this check during CI will fail when a PR is

[2022-11-03 09:00] peterzhuamazon opened #370 "[BUG] Windows Cypress requires to use cypress@^10.8.0 to resolve path separator issues"
Hi All,

2.4.0 cypress windows CI on github failed with these error:
https://github.com/opensearch-project/opensearch-dashboards-functional-test/actions/runs/3383921006/jobs/5620287472#step:14:159
[code]

Related to Cypress version have to update to at least 10.8.0:
* When searching for specs we now normalize OS-specific path separators so that Windows users can use back- and forward-slashes. Fixe

[2022-11-03 09:06] peterzhuamazon commented on #370
Seems like cypress 10 does not support cypress.json anymore and requires some migration:
https://github.com/opensearch-project/opensearch-dashboards-functional-test/actions/runs/3384251969/jobs/5620995705#step:11:85

[code]

[2022-11-03 09:42] ashwin-pc commented on #353
@tianleh I like the proposal. Simple and clean.

[2022-11-03 19:19] tianleh commented on #370
Will do after 2.4.0 release

[2022-11-03 19:39] bbarani commented on #370
@tianleh @seanneumann @seraphjiang Lets target this for 1.3.7 release [scheduled](https://opensearch.org/releases.html) for Dec 08 2022

[2022-11-03 19:41] CEHENKLE commented on #370
Yes, please.

[2022-11-03 19:46] bbarani opened #371 "[FEATURE] Resolve discrepancies between individual repo vs functional repo"
### Is your feature request related to a problem?
OpenSearch distribution build uses functional test repo for executing integration tests after every successful OpenSearch dashboards build. We have been getting various questions about the process to on-board to functional repo for new plugins and also the mechanism around the guard rails for making sure that tests in individual repos are in sync w

[2022-11-03 21:07] peterzhuamazon commented on #321
More development and issues in here:
https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/359

[2022-11-03 21:48] dblock commented on #370
Renamed the issue to upgrade to 10+, assigned to @tianleh.

[2022-11-03 21:58] dblock commented on #305
https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/370

[2022-11-04 01:08] peterzhuamazon commented on #305
Most recent is now on version 10.11.0.
And like @dblock pointed out it is having the windows path fix and support in:
* #370

[2022-11-04 19:36] joshuali925 opened #375 "[BUG] BIND_ADDRESS does not work"
### What is the bug?
based on the help message,
https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/4ebfa3d995d8c984bf7508790ef965395b6196d3/integtest.sh#L17

I should be able to change BIND_ADDRESS to domain name / IP to indicate cluster, but after changing it cypress still runs against localhost. The variable `BIND_ADDRESS` is not used anywhere.

### How can one repr

[2022-11-05 03:04] peterzhuamazon commented on #370
Latest development to use cypress 9 version is also running, the reason it failed is because data source is not enabled as well as vis_builder.

[2022-11-06 02:07] seraphjiang commented on #371
Hi @tianleh @CCongWang @kavilla @ohltyler would you triage the feature request?

If the existing documentation is not enough or not easy to access, let's fix the gap.

do we need to sync test today, i assume all tests will go here.

cc: @bbarani @dblock

[2022-11-10 01:22] ananzh opened #388 "[Vis Builder] [Test] Add functional tests for table visualization"
@ananzh commented on [Wed Nov 09 2022](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2848)

**Func Tests**

Table vis has been added to vis builder. The func tests should cover basic functions related to vis builder:

* table vis should get rendered
* table vis should render when split rows
* table vis should render when split tables
* table vis options should function

Functi

[2022-11-10 01:52] #360 closed

[2022-11-10 02:28] #388 closed

[2022-11-11 19:30] ashwin-pc commented on #307
Does this still need to be open? I see that we now have a lint check in the CI so all lint issues should be resolved i assume. @kavilla @tianleh

[2022-11-11 19:36] ashwin-pc commented on #371
The developer guide, contributing guide and other important information are today all inside the `contributing.md` file. I've opened up a similar issue in #290. There are additional docs that I want to add too but need some clarity on the final destination for these docs. Do you think somethign like this would be ideal:

[code]

[2022-11-11 20:07] tianleh commented on #307
No longer needed. Thanks for the call out!

[2022-11-12 06:08] peterzhuamazon opened #394 "[Possible Flaky] Run ftrepo vis_builder test will fail even tho 2.4.0 enable vis by default"
Hi,

Without stating `vis_builder.enabled: true` in the osd yml, sometimes we see vis_builder fail the second ftrepo test.
[code]

I dont have a full log yet but I do see this issue happens on x64 linux tar, possibly flaky test.

Using this:
https://github.com/opensearch-project/opensearch-build/issues/2649#issuecomment-1307786695

Thanks.

[2022-11-12 09:18] peterzhuamazon commented on #110
Hi,

I have discovered multiple issues where some test being flaky if run after other tests, some of them will fail as well.

Ex: Alerting more likely to fail if datasource test running beforehand, etc.

The Parallel run will help us with that.

We need to start coding the python code in build repo to consume changes in #234.

Thanks.

[2022-11-14 18:54] ashwin-pc commented on #394
@peterzhuamazon a test log or any other information here would be useful. I've pushed a fix right after the release to fix a flakey test but based on what i'm seeing here, its hard to tell what the flakey test is.

[2022-11-14 19:06] ashwin-pc commented on #110
This looks like its no longer maintained with the last update being in Jan. Its also does not have a stable version release yet.

I like this. Yes its asking for multiple VM (Seems like a docker container will do too) but given what Cypress actually does it kinda makes sense. Its also the officially documented process for it. I'd assume Cypress dev's would not have gone this route if they didnt th

[2022-11-14 19:58] peterzhuamazon commented on #394
Right now I specifically enabled that setting in config and i dont see any failure yet.
I only see the failure if I dont specify the setting, and it is not always happening.

I will see if I can get a test log next time.

[2022-11-15 17:59] aoguan1990 opened #396 "[FEATURE] Cypress Test for OpenSearch Dashboards Authentication Module"
### Is your feature request related to a problem?
Currently OpenSearch dashboards functional test repo supports majority security plugin test for identity, role, permission and tenants management. All the test cases utilize basic authentication by default. With the goal of increasing the test coverage, we observed several potential gaps related with Dashboard’s authentication modules test:
1.	Logi

[2022-11-16 01:43] tianleh commented on #370
Great! In this case, do we still need to handle Cypress 10 upgrade as a priority, especially for 1.3.7? @peterzhuamazon

[2022-11-16 01:47] peterzhuamazon commented on #370
Hi @tianleh this is not a priority now, we are able to run cypress on Windows for the past week and it runs well.
Although upgrading to v10 would still be nice for the long term later.

Thanks.

[2022-11-16 01:49] tianleh commented on #370
Sure. Let me remove the `1.3.7` label then

[2022-11-17 19:45] amitgalitz opened #400 "[FEATURE] Adding .nvmrc and matching OSD node version"
### Is your feature request related to a problem?
We currently don't have a way to enforce what node version is being used, I believe it makes sense to match whatever OSD is using. We should add a `.nvmrc` file at the very least manually matching what is in OSD.

### What solution would you like?
Adding `.nvmrc` file, doc for using `nvm use` and a test checking version match same as OSD has.

Just

[2022-11-17 21:16] ashwin-pc commented on #400
I like this, do you want to make a quick contribution for this @amitgalitz?

[2022-11-17 22:51] aoguan1990 commented on #396
@tianleh @CCongWang Please help review this feature proposal. Looking forwards to your feedbacks!

[2022-11-17 23:21] ananzh opened #401 "[Table Visualization] Move all the table vis related functional tests to functional test repo"
Currently, we are working on documenting and understanding all the functional tests for table vis: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2857

This is a tracking issue to make sure we re-create all the documented tests.

## Exit criteria:
* All the tests are re-created and merged.

[2022-11-23 02:44] ashwin-pc commented on #396
@aoguan1990 Do plugins need to write tests using the authentication module? also is there a link to the multi authentication test plan that we can reference?

[2022-11-23 17:36] aoguan1990 commented on #396
@ashwin-pc Thank you so much for reviewing this feature proposal. Multiple authentication test plan is an internal quip doc. if you are interested,  I am happy to share offline. Authentication module is part of dashboards security plugin. The goal of this proposal is to implement the cypress test to cover the test cases for Authentication module.

[2022-11-29 03:07] Flyingliuhub commented on #402
Thanks @RyanL1997 for the suggestion, I saw @peternied transferred already, Thanks

[2022-11-30 17:57] tianleh opened #405 "Research playwrightweb as test driver"
https://playwright.dev/

We want to compare Cypress and playwrightweb

[2022-11-30 17:57] seanneumann opened #406 "[Research] Cypress Vs Playwrite"
## What/Why
### What are you proposing?
Playwrite seems to be picking up some traction. I'm curious what the pros and cons of it are compared to Cypress as it pertains to our use cases.

https://playwright.dev/

https://twitter.com/playwrightweb

https://twitter.com/housecor/status/1597954687705104385?s=46&t=lYxFiS3tHqCZvLvgN24dDw

Let's consider a research spike in the near future. If it is far b

[2022-11-30 18:07] tianleh commented on #405
Close as a duplicate of https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/406

[2022-11-30 18:07] #405 closed

[2022-11-30 20:15] tianleh opened #408 "Upgrade Cypress to v11"
Cypress 11.2.0 has been release https://docs.cypress.io/guides/references/changelog#11-2-0

[2022-11-30 21:58] tianleh commented on #126
Flaky tests are tracked by plugin owners. Close this one who was originally for 1.3.0 release

[2022-11-30 21:58] #126 closed

[2022-11-30 22:21] tianleh commented on #396
Any ETA to complete the issue? @aoguan1990

[2022-11-30 22:22] tianleh commented on #402
This is the related issue https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/396

[2022-11-30 22:23] tianleh commented on #358
@AMoo-Miki @ananzh Could we close this issue?

[2022-11-30 22:29] tianleh commented on #371
Updated the doc structure.

[2022-11-30 22:30] tianleh commented on #400
It is using the node in the Docker image for running test

[2022-11-30 22:40] tianleh commented on #359
Already implemented.

[2022-11-30 22:40] #359 closed

[2022-11-30 23:31] aoguan1990 commented on #396
@tianleh I am working on the POC for the first point: `1. Login option is hard-coded:`.  Will keep you posted on the progress.